/* Global */
body{
    font-family: 'Raleway', sans-serif;
}
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.conteneur{
    margin: 0 5%;

}

 




/* Navigation */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
nav ul{
    display: flex;
    flex-direction: row;

}
.nav-link{
    padding: 53px 25px 10px 25px;

}
.nav-register{
    padding: 53px 25px 10px 25px;
    font-weight: bold;
    color: #0065fc;
}
.nav-link:hover{
    border-top: 2px solid #0065fc;
    color: #0065fc;
}
/* section recherche */
.recherche h1{
    padding-top: 33px;
    font-size: 21px;
}
.recherche p{
    padding-top: 8px;
    font-size: 15.3px;
}
.formulaire-recherche{
    display:flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 12px;
}
.formulaire-recherche i
{
    width: 50px;
    font-size: 20px;
    background-color:  #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    text-align: center;
    padding: 14px;
}
.formulaire-recherche input{
    display: inline;
    padding: 12px;
    width: 226px;
    font-size: 100%;
    font-weight: bold;
    border-left: none;
    border-right: none;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    height: 48px;
    
    
    
    
    
}
.formulaire-recherche button{
    width: 130px;
    font-size: 17px;
    border-radius: 0px 15px 15px 0px;
    text-align: center; color: #f5eeee;
    padding: 14px;
    background-color: #0065fc;
    border-style: none;
}








/* Formulaire de recherche */








/* Filtres */
.filtre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
    padding-bottom: 20px;
}
.filtre h2{
    font-size: 18px;
    padding-right: 25px;
}
.filtre button{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 50px;
    border: 2px solid #F2F2F2;
    background-color: white;
    padding-right: 22px;
    font-size: 17px;
    font-weight: bold;
    margin-right: 20px;
}
.filtre button :hover{
    background-color: lightblue;
    cursor: pointer;
    color: #ffffff;
}
.filtre button i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #deebff;
    border-radius: 50%;
    color: #0065fc;

}
.filtre button span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-left: 10px;

}
/* info */
.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    padding-bottom: 50px;
}
.info i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    color: #0065fc;


}
.info p{
    font-size: 15px;
    padding-left: 20px;

}
/* hebergement et populaires */
.hotel-conteneur{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 
/* hebergement a marseille */
.hebergement-a-marseille{
    background-color: #F2F2F2;
    border-radius: 20px;
    flex-basis: 65%;
}





/* les plus populaires */
.populaire{
    border: solid  rgb(235, 234, 231);
    border-radius: 10px;
    background-color: rgb(234, 234, 231);
    margin-left: 40px;
    padding: 0px;
    width: 40%;
    padding: 10px;
   color: white;
   font-size: 0.9em;
 
    
}
.populaire-header{
    align-items: center;
    flex-direction: row;
    border-radius: 20px;
    margin-left: 4%;
    padding-bottom: 20px;
    padding-top: 20px;
    
}
.populaire-header h3{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1em;
    padding-top: 5px;

}
.populaire-header i{
    padding-left: 540px;
    padding-bottom: 20px;
   
}
.populaire-cartes{
    /* display grid */
     
    
    border-top-right-radius:  13px;
    border-bottom-right-radius: 13px;
}
.populaire-carte-item{
    background-color:rgb(228, 224, 228);
    border: thin whitesmoke;
     border-radius: 15px;
    margin-left: 1.5%;
    margin-bottom: 10px;
    margin-right:1.5% ;
    border: solid white 4px;
    display: flex;
    height: 120px;
}
.populaire-carte-item img{
    width: 40%;
    height: 100%;
    object-fit: cover;
    margin:0;
    padding: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius:  15px;
     

}
.populaire-carte-contenu{
    padding-bottom: 20px;
    
}
.populaire-carte-contenu h3{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1em;
    padding-top: 5px;

}
.populaire-carte-contenu p{

    flex-direction: row;
    margin-bottom: 30px;
   
}
.notation{
    
}
.notation i{

}