@font-face {
    font-family: ;
    src: url(/static/Raleway-VariableFont_wght.ttf);
}

header
{
    display:flex; 
    justify-content:space-between;
    align-items: flex-end
    
}
header nav ul
{
    list-style-type: none;
    display: flex;
    float:right
}
#nav li
{
    
    
    
}