/* Global */
body{
    font-family: 'Raleway', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.conteneur{
    margin: 0 5%;

}

 




/* Navigation */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
nav ul{
    display: flex;
    flex-direction: row;

}
.nav-link{
    padding: 53px 25px 10px 25px;

}
.nav-register{
    padding: 53px 25px 10px 25px;
    font-weight: bold;
    color: #0065fc;
}
.nav-link:hover{
    border-top: 2px solid #0065fc;
    color: #0065fc;
}
/* section recherche */
.recherche h1{
    padding-top: 33px;
    font-size: 21px;
}
.recherche p{
    padding-top: 8px;
    font-size: 15.3px;
}
.formulaire-recherche{
    display:flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 12px;
}
.formulaire-recherche i
{
    width: 37px;
    font-size: 20px;
    background-color:  #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    text-align: center;
    padding: 14px;
}
.formulaire-recherche input{
    display: inline;
    padding: 12px;
    width: 210;
    font-size: 100%;
    font-weight: bold;
    border-width: 0px;
    border-color: gray
    
}
.formulaire-recherche button{
    width: 130px;
    font-size: 17px;
    border-radius: 0px 15px 15px 0px;
    text-align: center; color: #F2F2F2;
    padding: 14px;
    background-color: #0065fc;
    border-style: none;
}








/* Formulaire de recherche */








/* Filtres */